* {
    box-sizing: border-box;
}


body {
    text-align: center;
    height: 100%;
    /* background-image: url('..img/img2.jpg') no-repeat center fixed;
    background-size: cover; */

    background: url(../img/img2.jpg) no-repeat center fixed;
    background-size: cover;
    /* background-image: url(../img/img2.jpg); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
}

.page {
    background-color: rgb(148, 109, 141);
    text-align: center;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -1px;
    word-spacing: 2px;
    margin: auto;
    width: 300px;
    height: 330px;
    -webkit-box-shadow: 0px 4px 21px 8px rgba(0, 0, 0, 0.86);
    box-shadow: 0px 4px 21px 8px rgba(0, 0, 0, 0.86);

}



.board-btn {
    cursor: pointer;
    background-color: #ea4c89a8;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.board-btn:hover {
    background-color: #F082AC;
}


table {
    margin: auto;
    margin-top: 20px;
}

.dtimer {
    margin-top: 10px;
}

.game {
    height: 50px;
    width: 60px;
    font-size: xx-large;
    cursor: pointer;

}

.cell {
    background-color: rgb(211, 211, 211);
    border: 1px solid rgb(17, 18, 17);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.cell:hover {
    background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color: #378de5;
}

.hidden {
    background-color: rgb(148, 109, 141)
}

.flags-btn {
    margin-right: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    font-size: medium;
    
}

.score-btn {
    margin-left: 50px;
    font-size: medium;
    
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}